* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.mdl-js {
  background: #969696;
}
.container {
  font-family: Merriweather, serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.ctn-header {
  display: flex;
  justify-content: center;
}
.form-header {
  width: 70vw;
  height: 130px;
  border: 1px solid black transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}
.form-header #title {
  font-size: 30px;
  text-shadow: 1px -2px 5px rgba(255, 255, 255, 100);
  display: inline-block;
  transform: rotate(0deg);
  transform-origin: 0 50%;
  position: absolute;
}
.form-header hr {
  width: 70vw;
  box-shadow: 1px -2px 5px rgba(255, 255, 255, 100);
}

.ctn-body {
  width: 100%;
  display: flex;
  justify-content: center;
}
.form-body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  border-radius: 20px;
  justify-content: space-between;
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
.form-avatar {
  width: 30%;
  border: 5px solid black;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-avatar #avatar {
  border: 1px solid black transparent;
  border-radius: 2rem;
  background: white;
  position: relative;
  width: 200px;
  height: 200px;
}
#avatar img {
  border: 1px solid black transparent;
  border-radius: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.form-avatar #btn {
  margin-top: 10px;
  padding-top: 10px;
  width: 150px;
  padding-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 2rem;
}
.form-avatar #btn:hover {
  cursor: pointer;
  color: white;
  background-color: #ca5119;
  animation-direction: normal;
  transition: all 0.3s linear;
}

.form-list {
  width: 65%;
  padding-left: 40px;
}
.form-section {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.list-category {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Mỗi hàng có 6 cột, chia đều */
  gap: 10px; /* Khoảng cách giữa các phần tử */
  padding: 0;
}
.list-category #category-item {
  width: 80%;
  height: 30px;
  border: 1px solid black transparent;
  border-radius: 2em 2em 2em 2rem;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.list-category #category-item:hover {
  cursor: pointer;
  color: white;
  background-color: #ca5119;
  animation-direction: normal;
  transition: all 0.3s linear;
  transform: scale(1.05);
}
.list-item {
  border-top: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.list-item #title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}
.list-item #option {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.list-item img {
  margin-left: 15px;
  width: 60px;
  height: 60px;
  border: 1px solid black;
}
